/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0F0F0F;
    background-alt: #000000;
    foreground:     #E5E9F0;
    alt-foreground: #040713;
    selected:       #8FCEF3;
    active:         #0F1417;
    urgent:         #BF616A;
}
