#nav-bar {
    /* customize this value. */
    --navbar-margin: -33px;

    margin-top: var(--navbar-margin);
    margin-bottom: 0;
    z-index: -100;
    transition: all 0.3s ease !important;
    opacity: 0;
}

#titlebar:hover~#nav-bar,
#nav-bar:hover,
#nav-bar:focus-within {
    margin-top: 0;
    margin-bottom: var(--navbar-margin);
    z-index: 100;
    opacity: 1;
}
